$main-light-color:#FFFFFF;
$main-gray-color:#E5E5E5;
$main-dark-color:#3D3737;
$add-color:#f2a348;
$add-color-light:#f08102c1;
$add-light-color:#F0F0F0;


$bg-color:#090B0D;
$bg-color2:#0D1C1F;

$border-color:#5E5E5E;
$active-color:#c5a800a9;

$main-animation:all 0.3s ease-in;
$max-width:1360px;
$screen-width:1600px;
$main_font: 'Raleway', sans-serif;
$add_font: 'Montserrat',sans-serif;

